$black: #0A100D;
$bez: #D6D5C9;
$ladi: #B9BAA3;
$red: #A22C29;
$dark-red: #902923;
$blue: #379FBF;
$green: #0BB780;

:export{
    black: $black;
    bez: $bez;
    ladi: $ladi;
    red: $red;
    dark-red: $dark-red;
    blue: $blue;
    green: $green;
}